menu "user packages " 
config libftdi  
	 bool "libftdi"
	 help
	
config bluez5  
	 bool "bluez5"
	 help
	
config bonniePLUSPLUS  
	 bool "bonnie++"
	 help
	
config connman  
	 bool "connman"
	 help
	
config iperf3  
	 bool "iperf3"
	 help
	
config iw  
	 bool "iw"
	 help
	
config kernel-modules  
	 bool "kernel-modules"
	 help
	
config lmsensors-sensorsdetect  
	 bool "lmsensors-sensorsdetect"
	 help
	
config nano  
	 bool "nano"
	 help
	
config packagegroup-base-extended  
	 bool "packagegroup-base-extended"
	 help
	
config sds-lib  
	 bool "sds-lib"
	 help
	
config ultra96-misc  
	 bool "ultra96-misc"
	 help
	
config ultra96-wpa  
	 bool "ultra96-wpa"
	 help
	
config usb-gadget-ethernet  
	 bool "usb-gadget-ethernet"
	 help
	
config wilc  
	 bool "wilc"
	 help
	
config wilc3000-fw  
	 bool "wilc3000-fw"
	 help
	
config wpa-supplicant  
	 bool "wpa-supplicant"
	 help
	
endmenu
